body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    margin-bottom: 50px; /* フッターの高さ分のマージンを追加 */
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.icon {
    width: 128px;
    height: 128px;
    border-radius: 20%;
    margin: 10px auto;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0078d4;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px 20px;
    background: white;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    font-size: 1.8em;
    color: #0078d4;
}

section h3 {
    font-size: 1.4em;
    color: #005a9e;
    margin-top: 20px;
}
ul, ol {
    margin: 20px 0;
    padding-left: 40px;
}
.screenshot {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
